version: "3.7"

networks:
  {{ network }}:
    external: true

services:
{% if mariadb %}
  mariadb:
    container_name: mariadb
    environment:
      - "MYSQL_DATABASE={{ mariadb_database }}"
      - "MYSQL_ROOT_PASSWORD={{ mariadb_root_password }}"
      - "MYSQL_PASSWORD={{ mariadb_password }}"
      - "MYSQL_USER={{ mariadb_user }}"
    image: mariadb:latest
    labels:
      - "traefik.enable=false"
    networks:
     - "{{ network }}"
    restart: unless-stopped
{% endif %}

{% if mailhog %}
  mailhog:
    container_name: mailhog
    image: mailhog/mailhog:latest
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.mailhog.entrypoints=websecure"
      - "traefik.http.routers.mailhog.rule=Host(`{{ mailhog_domain }}`)"
      - "traefik.http.routers.mailhog.tls=true"
      - "traefik.http.routers.mailhog.tls.certresolver={{ tls_resolver }}"
      - "traefik.http.routers.mailhog.tls.domains[0].main={{ mailhog_domain }}"
      - "traefik.http.services.mailhog.loadbalancer.server.port=8025"
    networks:
      - "{{ network }}"
    restart: unless-stopped
{% endif %}

{% if phpmyadmin %}
  phpmyadmin:
    container_name: phpmyadmin
    environment:
      PMA_ABSOLUTE_URI: "https://{{ phpmyadmin_domain }}"
      PMA_HOSTS: "{{ phpmyadmin_hosts | join(',') }}"
    image: phpmyadmin/phpmyadmin:latest
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.phpmyadmin.entrypoints=websecure"
      - "traefik.http.routers.phpmyadmin.rule=Host(`{{ phpmyadmin_domain }}`)"
      - "traefik.http.routers.phpmyadmin.tls=true"
      - "traefik.http.routers.phpmyadmin.tls.certresolver={{ tls_resolver }}"
      - "traefik.http.routers.phpmyadmin.tls.domains[0].main={{ phpmyadmin_domain }}"
    networks:
      - "{{ network }}"
{% endif %}
